.big-card-container {
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  .gcf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .g1 {
  }
  .g2 {
  }
  .g3 {
    display: flex;
    cursor: pointer;

    h3 {
      margin: 0 10px;
      border: solid 1px black;
      padding: 5px;
    }
  }
  .g4 {
    cursor: pointer;
  }
}
